## LOCAL CONFIG
# NEXT_PUBLIC_PRO_MODE=http://localhost:5000
NEXT_PUBLIC_PRO_MODE=https://api.dailyngo.com
NEXT_PUBLIC_GOOGLE_REDIRECT=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me

# AWS S3 Configuration
NEXT_PUBLIC_S3_BUCKET_NAME=your-bucket-name
NEXT_PUBLIC_S3_ACCESS_KEY=your-access-key
NEXT_PUBLIC_S3_SECRET_KEY=your-secret-key
NEXT_PUBLIC_S3_REGION=eu-north-1
NEXT_PUBLIC_S3_URI=s3.amazonaws.com
NEXT_PUBLIC_S3_DURATION=10
